<div class="col-6">
  <h1> About the Erie Outing Club</h1><br>
<p class="dropcaps">
  <p class="about">The Erie Outing Club is a non-competitive social outdoors club for adults (and teens accompanied with a guardian).</p>
  <br><br>
  <p class="about">We schedule events throughout the year and enjoy hiking, backpacking, kayaking, bicycle riding, and in the wintertime snowshoeing, and cross-country skiing in the Erie region and beyond.</p>
  <br><br>

  <p class="about">Whether you're a seasoned outdoor enthusiast or just starting out, we welcome you to join us on our activities. Members initiate events, which they lead.  These activities are posted on our website calendar.</p>
  <br><br>
  <p class="about">We're a friendly and supportive group, and we enjoy sharing our love of the outdoors with others. So come join us for outdoor adventures.</p>
  <br><br>
  <p style="font-weight: bold" class="about">For more information and or to join the club, click on this  <a href="https://www.erieoutingclub.org/membershipapp" target="_blank">link </a>.</p><br>
  <br>
  <img src="https://i.imgur.com/yBbzzBDl.jpg" alt="HTML5 Icon" class="responsive">
</div>
