<div class="col-6">
  <h1> About the Erie Outing Club</h1>
  <p>We are a Social non-competitive Outdoors Club. We go camping, hiking, backpacking, cycling,kayaking. We also get together and eat together. We love socializing and talking about our favorite outdoor activities. We will go camping for the weekend and go backpacking , cycling or kayaking. In the winter time we go cross-country skiing and snowshoeing</p>
  <img src="https://i.imgur.com/xzWYQHol.jpg" alt="HTML5 Icon" class="responsive">
</div>