<div class="col-6">
  <h1> About the Erie Outing Club</h1>
<p class="dropcaps">
  <p>
    Erie Outing Club is a social group for adults who love to roam.</p>
    <p>We venture out, rain or shine, to explore and call it home.</p>
    <p>We hike and camp, and paddle, along the rivers and the streams.</p><br>
    
    <p>We cycle through the winding paths just to chase our dreams.</p><br> 
    
    <p>In winter's cold, we ski and snowshoe, and don't mind the frosty air.</p>
    <p>In the great outdoors, we find a sense of peace, beyond compare.</p><br> 
    
    <p>We are a club that's non-competitive. We come together, hand in hand.
    <p>We share the joys of nature's beauty and make new friends across the land.</p><br>
    
    <p>So come and join us on our journeys in Erie, P-A, and beyond.
    <p>We'll explore the world and make new memories, forever fond.</p>
    
  </p><br>
  
  <p style="font-weight: bold">For more information and or to join the club, click on this  <a href="https://www.erieoutingclub.org/membershipapp" target="_blank">link </a>.</p><br>
  <img src="https://i.imgur.com/yBbzzBDl.jpg" alt="HTML5 Icon" class="responsive">
</div>
