<div class="col-3 right" >
    <div class="aside" style=" background-color: #4CAF50;">
      <a href="/blog"><h2 class="whitetext">Erie Outing Club Blog Posts</h2></a>
      <br>
      <br>
      <ul>
        {% for post in site.posts %}
          <li>
            <a class="blogposts" href="{{ post.url }}">{{ post.title }}</a>
            <br>
            <br>
          </li>
        {% endfor %}
      </ul>
    </div>
    <img src="https://i.imgur.com/Ea0xjPom.png" alt="Erie Outing Club, Cycling, Hiking,Backpackng,Kayaking" class="responsive">
  </div>