<div class="col-3 right" >
    <div class="aside" style=" background-color: #4CAF50;">
      <a href="/blog"><h2 class="whitetext">Erie Outing Club Blog Posts</h2></a>
      <br>
      <br>
      <ul style="list-style-type:none;">
        {% for post in site.posts limit:5 %}
          <li>
            <span class="date">{{ post.date | date: '%B %d, %Y' }}</span></li>
            <li><a class="blogposts" href="{{ post.url }}">{{ post.title }}</a>
            <br>
            <br>
          </li>
        {% endfor %}
      </ul>
    </div>
    <img src="https://i.imgur.com/Ea0xjPom.png" alt="Erie Outing Club, Cycling, Hiking,Backpackng,Kayaking" class="responsive">
    <a target="_blank" href="https://www.youtube.com/user/erieoutdoors"><img src="https://i.imgur.com/Pk9kyC0m.jpg" alt="HTML tutorial"</a>
    <a target="_blank" href="https://www.facebook.com/groups/567421521411448"><img src="https://i.imgur.com/neU08bO.jpg" alt="HTML tutorial"</a>
  </div>