
<div class="col-6">
    <center>
        <img src="https://i.imgur.com/tQM071rh.jpg" alt="Erie Outing Club Cycling Network" width="640" height="393">
        <p>Erie Outing Club Cycling Network will be dedicated to Cycling Adventures in Erie county area and Near by
             states and county's. We will provide virtual tours and adventures. We also will have links to your favorites
             rails trails and Mountain bike Trails in the local area.
        </p><br><br>
        <h2>Local Cycling Virtual Tours-under-construction</h2>
        {% for cycling in site.cycling %}
        <li>
            <h2><a href="{{ cycling.url }}">{{ cycling.title }}</a></li></h2>
        </li>
        {% endfor %}<br><br>

        <br><br>
            <h2>Play Sports Network in the U.K has many Youtube channels about Cycling</h2><br>
            <h2><a href="https://playsportsnetwork.com/channels/" target="_blank">Play Sports Network</a></h2><br><br>
            <br><br>
            <h2>Youtube channels on local  Cycling trails</h2><br>
            <h2><a href="https://www.youtube.com/channel/UCTUQeIQJsq9hKCDhAvmOJoQ" target="_blank">Reimagined Adventures</a></h2><br><br>
            <br><br>
            <h2>Youtube channels on local  Cycling</h2><br>
            <h2><a href="https://www.youtube.com/c/EriebyCycle" target="_blank" title="Bicycle stuff for the average person">Erie by Cycle</a></h2><br><br>
       
        <h2>Local weekly Rides</h2><br>
            <h2><a href="https://www.facebook.com/groups/270687004691703" target="_blank" title="Sunday Slow Roll at Frontier Park Noon">Sunday Slow Roll Erie</a><br>
            <a href="https://www.facebook.com/SlowRollErie" target="_blank" title="Thursday Slow Roll at Perry Square next to bike rack at 6:00pm">Slow Roll Erie</a><br>
            <a href="https://www.facebook.com/groups/772119996170596" target="_blank" title="Group dedicated to cycling in the Erie, Edinboro and surrounding area.">Countryside Cycling</a><h2>
            <a href="https://www.facebook.com/groups/163732384413449" target="_blank"title="Tuesdays 6:00 pm at predetermined locations around Ashtabula County, Ohio"">Ashtabula Ohio Bicycle Club</a><br><h2><br><br>
                
                <h2>Local Mountain Bike Trails</h2><br>
            <h2><a href="https://www.facebook.com/TrailsAtSixMile" target="_blank" title="Mountain Bike Trails at Harborcreek,Pa">Trails At Six Mile</a><br>
            <a href="https://www.skimountpleasant.com/summer-access" target="blank" title="Summer Mountain bike trails at Edinboro ski resort">Mount Pleasant Summer Access </a><br>
            <a href="https://www.facebook.com/groups/380095199760" target="blank"">MTB'ers Harris Hill Ext.</a><br>
            <a href="https://www.facebook.com/groups/150399193525301" target="blank" title="Mountain bike trail near Warren,Pa">Jake’s Rocks Trail Conditions</a><br><br></h2> 
            
            <h2>Local Rail Trails</h2><br>
            <h2><a href="https://ashtabulametroparks.com/western-reserve-greenway-trail/" target="_blank" title="Rail Trail in Ashtabula County, Ohio">Ashtabula Greenway Trail</a><br>
            <a href="https://www.avta-trails.org/index.php" target="blank" title="Recreation Trails of the Allegheny National Recreation River
            Oil Heritage Region of Pennsylvania">Allegheny Valley Trails Association </a><br>
            <h2><a href="https://chaurtt.org/" target="_blank" title="Rail Trails in Chautauqua County, New York">Chautauqua Rails to Trails</a><br>
            <h2><a href="https://www.traillink.com/trail/bayfront-connector-trail/" target="_blank" title="Trail along the Bayfront Highway">Bayfront Connector Trail</a><br>
            <h2><a href="https://www.traillink.com/trail/corry-junction-greenway-trail/" target="_blank" title="7-mile trail near Corry Pa.">Corry Junction Greenway Trail</a><br>
                <h2><a href="https://www.traillink.com/trail/karl-boyes-multi-purpose-national-recreation-trail/" target="_blank" title="Paved bike Trail at Presque Isle State Park">Karl Boyes Multi-Purpose National Recreation Trail</a><br>
                    <h2><a href="https://www.traillink.com/trail/john-c-oliver-multi-purpose-loop-trail/" target="_blank" title="Paved Trail at M.k. Goddard Park below Meadville">John C. Oliver Multi-Purpose Loop Trail</a><br><br>
               
               
                
                <h2>An All-Cycling Weekend for All Cycling Lovers! Lake Erie Cycle Fest</h2><br>
               <h2><a href="https://www.eriesportscommission.com/lakeeriecyclefest/" target="_blank">https://www.eriesportscommission.com/lakeeriecyclefest/</a><br><br><h2>
                
                <h2>Ohio Bicycle Events Calendar</h2><br>
            <h2><a href="https://ohio.bike/bicycle-touring-events/" target="_blank">https://www.eriesportscommission.com/lakeeriecyclefest/</a><br><br><h2>
        </center>
</div>