
<div class="col-6">
    <center>
        <img src="https://i.imgur.com/tQM071rh.jpg" alt="Erie Outing Club Cycling Network" width="640" height="393">
        <p>Erie Outing Club Cycling Network will be dedicated to Cycling Adventures in Erie county area and Near by
             states and county's. We will provide virtual tours and adventures. We also will have links to your favorites
             rails trails and Mountain bike Trails in the local area.
        </p><br><br>
        <h2>Local Cycling Virtual Tours-under-construction</h2>
        {% for cycling in site.cycling %}
        <li>
            <h2><a href="{{ cycling.url }}">{{ cycling.title }}</a></li></h2>
        </li>
        {% endfor %}<br><br>

        <br><br>
            <h2>Play Sports Network in the U.K has many Youtube channels about Cycling</h2><br>
            <h2><a href="https://playsportsnetwork.com/channels/" target="_blank">Play Sports Network</a></h2><br><br>
            <br><br>
            <h2>Youtube channels on local  Cycling trails</h2><br>
            <h2><a href="https://www.youtube.com/channel/UCTUQeIQJsq9hKCDhAvmOJoQ" target="_blank">Reimagined Adventures</a></h2><br><br>
            <br><br>
            <h2>Youtube channels on local  Cycling</h2><br>
            <h2><a href="https://www.youtube.com/c/EriebyCycle" target="_blank" title="Bicycle stuff for the average person">Erie by Cycle</a></h2><br><br>
       
        <h2>Local weekly Rides and Slow Rolls</h2><br>
            <h2>
                <a href="https://www.slowrollcleveland.com/about" target="_blank" title="Slow Roll is a mass happening, a leisurely paced parade of bikes through the nooks and corners of the urban environment.">What is a Slow Roll?</a><br><br><br>
            <a href="https://www.facebook.com/groups/163732384413449" target="_blank"title="Tuesdays 6:00 pm at predetermined locations around Ashtabula County, Ohio">Ashtabula Ohio Bicycle Club</a><br>
            <a href="https://slowrollbuffalo.org/" target="_blank" title="Every Monday Night Meet at 6 pm ride at 6:30 pm various location in Buffalo,New York">Slow Roll Buffalo</a><br>
            <a href="https://www.slowrollcleveland.com/" target="_blank" title="Slow Roll's 2022 season begins...on a Tuesday various location in Cleveland, Ohio New York">Slow Roll Cleveland</a><br>    
            <a href="https://www.facebook.com/SlowRollErie" target="_blank" title="Thursday Slow Roll at Perry Square next to bike rack at 6:00pm">Slow Roll Erie</a><br>
            <a href="https://www.facebook.com/groups/270687004691703" target="_blank" title=" Every Sunday at Frontier Park Parking Lot by Tennis Court at noon."> Sunday Slow Roll Erie</a><br>
            <a href="https://www.facebook.com/groups/772119996170596" target="_blank" title="Regular weekly rides are scheduled on Wednesday evenings at 6:00pm at 814 Outdoor Sports 500 W Plum St, Edinboro, PA 16412.">Countryside Cycling</a><h2>
            <a href="https://www.facebook.com/groups/49148542954/" target="_blank" title="We meet at 5:45 every Monday night, at Walnut Creek Middle School riding at 6:00pm">Girls Gone Cycle</a><h2>
            <a href="https://www.tourchautauqua.com/events/pearl-city-slow-roll-bicycle-rides" target="_blank" title="Take a ride in the Pearl City. Slow Roll Bicycle Rides will be held several dates at multiple locations throughout Jamestown New York">Pearl City Slow Roll Bicycle Rides (Jamestown New York)</a><br>        
            <h2><br><br>
                
                <h2>Local Mountain Bike Trails</h2><br>
             <h2><a href="https://www.facebook.com/ArtRoscoeCrossCountrySkiAndMountainBikeArea/" target="blank"">Art Roscoe Cross Country Ski and Mountain Bike Area</a><br></h2>
            <h2><a href="https://www.facebook.com/TrailsAtSixMile" target="_blank" title="Mountain Bike Trails at Six Mile Creek Park,  Harborcreek,Pa">Trails At Six Mile</a><br>
            <a href="https://www.skimountpleasant.com/summer-access" target="blank" title="Summer Mountain bike trails at Edinboro ski resort">Mount Pleasant Summer Access </a><br>
            <a href="https://www.facebook.com/groups/380095199760" target="blank"">MTB'ers Harris Hill Ext.</a><br>
            <a href="https://www.facebook.com/groups/150399193525301" target="blank" title="Mountain bike trail near Warren,Pa">Jake’s Rocks Trail Conditions</a><br><br></h2> 
            
            <h2>Local Rail Trails</h2><br>
            <h2><a href="https://ashtabulametroparks.com/western-reserve-greenway-trail/" target="_blank" title="Rail Trail in Ashtabula County, Ohio">Ashtabula Greenway Trail</a><br>
            <a href="https://www.avta-trails.org/index.php" target="blank" title="Recreation Trails of the Allegheny National Recreation River
            Oil Heritage Region of Pennsylvania">Allegheny Valley Trails Association </a><br>
            <h2><a href="https://chaurtt.org/" target="_blank" title="Rail Trails in Chautauqua County, New York">Chautauqua Rails to Trails</a><br>
            <h2><a href="https://www.traillink.com/trail/bayfront-connector-trail/" target="_blank" title="Trail along the Bayfront Highway">Bayfront Connector Trail</a><br>
            <h2><a href="https://www.traillink.com/trail/corry-junction-greenway-trail/" target="_blank" title="7-mile trail near Corry Pa.">Corry Junction Greenway Trail</a><br>
                <h2><a href="https://www.traillink.com/trail/karl-boyes-multi-purpose-national-recreation-trail/" target="_blank" title="Paved bike Trail at Presque Isle State Park">Karl Boyes Multi-Purpose National Recreation Trail</a><br>
                    <h2><a href="https://www.traillink.com/trail/john-c-oliver-multi-purpose-loop-trail/" target="_blank" title="Paved Trail at M.k. Goddard Park below Meadville">John C. Oliver Multi-Purpose Loop Trail</a><br><br>
               
               
                
                <h2>An All-Cycling Weekend for All Cycling Lovers! Lake Erie Cycle Fest</h2><br>
               <h2><a href="https://www.eriesportscommission.com/lakeeriecyclefest/" target="_blank">https://www.eriesportscommission.com/lakeeriecyclefest/</a><br><br><h2>

                <h2>Chautauqua Gran Fondo</h2><br>
                <h2><a href="https://www.chqgf.com/" target="_blank">https://www.chqgf.com/</a><br><br><h2>

                <h2>23rd Annual Pedal the Lakes Bicycle Tour</h2><br>
               <h2><a href="https://www.mctrails.org/events/2018/9/pedal-the-lakes-bike-tour1-e969x" target="_blank">https://www.tourchautauqua.com/destinations/chautauqua-gran-fondo</a><br><br><h2>

                <h2>Pedal for Mercy</h2><br>
               <h2><a href="https://www.mcwerie.org/events/pedal-for-mercy-2" target="_blank">https://www.mcwerie.org/events/pedal-for-mercy-2</a><br><br><h2>

                <h2>Ride for the Refuge</h2><br>
                <h2><a href="https://euma-erie.org/news-events/" target="_blank">https://euma-erie.org/news-events/</a><br><br><h2>

               <h2>39th Annual TOUR OF CHAUTAUQUA</h2><br>
                <h2><a href="https://westfieldny.com/recreation/40th-annual-tour-chautauqua" target="_blank">https://westfieldny.com/recreation/40th-annual-tour-chautauqua</a><br><br><h2>
                
                <h2>Ohio Bicycle Events Calendar</h2><br>
            <h2><a href="https://ohio.bike/bicycle-touring-events/" target="_blank">https://www.eriesportscommission.com/lakeeriecyclefest/</a><br><br><h2>
        </center>
</div>