<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Erie Outdoors Club specializing outing clubs specializing in non-competitive outdoor events">
    <meta name="keywords" content="Backpacking,Cycling,Hiking,Kayaking, Cross-Country Sking">
    <meta name="author" content="Erie Outing Club">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Erie Outing Club, Erie premier Social Outdoors Club">
    <meta property="og:description" content=" Erie Outing Club Offers Social non-competitive Outdoor events">
    <meta property="og:image" content="https://i.imgur.com/a62BPNZl.jpg">
    <meta property="og:url" content="https://www.erieoutingclub.org/">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Erie Outing Clb">
    <meta name="twitter:image:alt" content="Alt text for image">
    <title>{{ page.title }}</title>
    <script src="https://kit.fontawesome.com/81810279c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/main.css">
</head>