
<div class="col-6">
    <center>
        <img src="https://i.imgur.com/3yAWCvRh.jpg" alt="Erie Outing Club Cycling Network" width="640" height="393">
        <p>Erie Outing Club Hiking and Backpacking Network will be dedicated to Hiking and Backpacking Adventures in Erie county area and Near by
             states and county's. We will provide virtual tours and adventures. We also will have links to your favorites
             rails trails and hiking Trails in the local area.
        </p>
        <br><br>
        <p>This site is under construction and will be more at a later time.</p>
        <br><br>
            <h2>Adventure Archives is a Youtube channel about camping, hiking, and bushcraft through the backcountry.  </h2><br>
            <a href="https://www.youtube.com/c/AdventureArchives/featured" target="_blank">AdventureArchives</a><br><br>
        
            <!-- Write your comments here 
            <h2>Local hiking Virtual Tours-under-construction</h2>
            {% for hiking in site.hiking %}
        <li>
            <h2><a href="{{ hiking.url }}">{{ hiking.title }}</a></li></h2>
        </li>
        {% endfor %}-->
        </center>
</div>