<!-- Navigation -->
<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
   <i class="fas fa-bars"></i>
   </span>
  <a href="https://www.erieoutingclub.org/" class="logo">Erie Outing Club</a>
  <ul class="main-nav" id="js-menu">
      <li>
          <a href="https://www.erieoutingclub.org/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/calendar" class="nav-links">Calendar</a>
    </li>
      <li>
          <a href="/membershipmeeting" class="nav-links">Membership Meeting</a>
      </li>
      <li>
          <a href="/membershipapp" class="nav-links">Membership App</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCQbGqOrYyhk0iKC81KlU_fw" class="nav-links">YouTube</a>
    </li>
      <li>
          <a href="/blog" class="nav-links">Blog</a>
      </li>
      <li>
          <a href="/contact" class="nav-links">Contact Us</a>
      </li>
  </ul>
</nav>