<!-- New Navigation -->

<div class="topnav" id="myTopnav">
  <a href="https://www.erieoutingclub.org/" class="active">Erie Outing Club</a>
  <a href="/membershipapp">Join</a>
  <div class="dropdown">
    <button class="dropbtn">More Info
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/calendar">Calendar</a>
      <a href="/membershipmeeting">Membership Meeting</a>
      <a href="/membershipapp">Membership App</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Social Media
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/blog">EOC Blog</a>
      <a href="https://www.facebook.com/groups/567421521411448" target="_blank">EOC Facebook Group</a>
      <a href="https://www.youtube.com/channel/UCQbGqOrYyhk0iKC81KlU_fw">Youtube</a>
    </div>
  </div>
  <a href="/contact">Contact</a>
  <a href="/clubs">Outdoor Recreational Clubs</a>
  <div class="dropdown">
    <button class="dropbtn">Local Trails 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.avta-trails.org/trails.php">Allegheny Valley Trails</a>
      <a href="https://ashtabulametroparks.com/">Ashtabula County Metroparks </a>
      <a href="https://chaurtt.org/">Chautauqua Rails to Trails</a>
      <a href="https://www.clevelandmetroparks.com/parks/visit">Cleveland Metroparks</a>
      <a href="https://erietrails.org/">Erie County Trails</a>
      <a href="https://www.eriepittsburghtrail.org/trailsofthesystem">Erie to Pittsburgh Trail Alliance</a>
      <a href="https://www.lakemetroparks.com/parks-trails">Lake County Ohio Trails</a>
      <a href="https://www.facebook.com/Northwest-Pennsylvania-Trail-Association-147781438565883/">Northwest Pennsylvania Trail Association</a>
      <a href="http://www.ridenambapa.org/trail-info/">NAMBA Trails</a>
      <a href="https://www.dec.ny.gov/lands/8269.html">Harris Hill State Forest</a>
      <a href="https://chaurtt.org/">Chautauqua Rails to Trails</a>
      <a href="https://wnymba.org/trails/">Western New York Trails</a>
      </div>
  </div> 
  <a href="/cycling">Cycling</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>