<div class="col-3 menu">
  <h2>Upcoming Events</h2><br>
  <p>Click on <a href="/calendar">calendar</a> for more info</p>
  <br>
  <!-- Write your comments here
  <div id=”content-desktop”>
This is the content that will display on DESKTOPS.
    {% assign variable1 = site.time | date: "%m" %}
  <ul>
    {% for person in site.data.events %}
    {% if person.month == variable1 %}
    <li style="list-style: none; font-size: 20px;">
      {{ person.date}}, {{ person.event}}, {{ person.time}}<br>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div id=”content-mobile”>
This is the content that will display on MOBILE DEVICES.
</div>
  
</div>
-->
