<div class="col-3 menu">
  <h2 class="calendar">Upcoming Events</h2><br>
  <h3 class="calendar">Click on <a href="/calendar">calendar</a> for more info</h3>
  <br>
  <br>
  <table>
    {% for row in site.data.events %}
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
  </table>
  <br>
  <br>
  <h2>Outdoor Essentials Articles</h2>
  <br>
  {% for outdooressentials in site.outdooressentials %}
  <h2><a href="{{ outdooressentials.url }}">{{ outdooressentials.title }}</a></h2>
  <p>{{ outdooressentials.description }}</p>
{% endfor %}
  
</div>
 

