<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
             
        </style>
        <script src="https://kit.fontawesome.com/81810279c2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/main.css">
        </head>
    <body>
        {% include navbar.html %}
        
      <div class="row">
        {% include upcomingevents.html %}
        <div class="col-6">
            <h1>Erie Outing Club Blog</h1>
            <br><br>
            <ul>
              {% for post in site.posts %}
                <li>
                 <h2> <a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <br><br>
            
                </li>
              {% endfor %}
            </ul>
            <img src="https://i.imgur.com/xzWYQHol.jpg" alt="HTML5 Icon" class="responsive">
        </div>
        {% include blogposts.html %}
         </div>
         {% include footer.html %}
      
      
      <script>
      let mainNav = document.getElementById('js-menu');
      let navBarToggle = document.getElementById('js-navbar-toggle');
      
      navBarToggle.addEventListener('click', function () {
          
          mainNav.classList.toggle('active');
      });
      </script>
      </body>
      </html>