<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

  </style>
  <script src="https://kit.fontawesome.com/81810279c2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  {% include navbar.html %}
  <div class="row">
    {% include upcomingevents.html %}
    <div class="col-6">
      <h2>Erie Outing Club Calendar</h2>
      <div class="responsive-iframe-container big-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZXJpZW91dGluZ2NsdWJAZ21haWwuY29t&amp;color=%234285F4"
          style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="responsive-iframe-container small-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZXJpZW91dGluZ2NsdWJAZ21haWwuY29t&amp;color=%234285F4&amp;mode=AGENDA"
          style="border-width:0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    {% include blogposts.html %}
  </div>
  {% include footer.html %}
  <script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {

      mainNav.classList.toggle('active');
    });
  </script>
</body>

</html>