<!DOCTYPE html>
{% include head.html %}
<html>
<head>
  <title>Outdoor Essentials Articles</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  
  {% include navbar.html %}

    <h1>Outdoor Essentials Articles</h1>
    {% for outdooressentials in site.outdooressentials %}
    <h2><a href="{{ outdooressentials.url }}">{{ outdooressentials.title }}</a></h2>
    <p>{{ outdooressentials.description }}</p>
  {% endfor %}
    
   
<
{% include footer.html %}

<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {

        mainNav.classList.toggle('active');
    });


    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
  

</body>
</html>
