<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
         
        </style>
        <script src="https://kit.fontawesome.com/81810279c2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/main.css">
        </head>
    <body>
        {% include navbar.html %}
        
      <div class="row">
        {% include upcomingevents.html %}
        <div class="col-6">
            {{ content }}
          
        </div>
        {% include blogposts.html %}
         </div>
         {% include footer.html %}
      
      
         <script>
            let mainNav = document.getElementById('js-menu');
            let navBarToggle = document.getElementById('js-navbar-toggle');
    
            navBarToggle.addEventListener('click', function () {
    
                mainNav.classList.toggle('active');
            });
        
        
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
      </body>
      </html>