<!DOCTYPE html>
<html lang="en"></html>>
{% include head.html %}

<body>

  <div class="topnav" id="myTopnav">
    <a href="https://www.erieoutingclub.org/" class="active">Erie Outing Club</a>
    <div class="dropdown">
      <button class="dropbtn">More Info
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/calendar">Calendar</a>
        <a href="/membershipmeeting">Membership Meeting</a>
        <a href="/membershipapp">Membership App</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Social Media
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/blog">Blog</a>
        <a href="https://www.youtube.com/channel/UCQbGqOrYyhk0iKC81KlU_fw">Youtube</a>
      </div>
    </div>
    <a href="/contact">Contact</a>
    <a href="/clubs">Outdoor Recreational Clubs</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
   <!-- content  -->
<div class="post">
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>
  <div class="main" id="content">{{ content }}</div>
</div>
 

  
  
  <!-- <div class="main" id="navigation">navigation</div> -->
  <div class="main" id="footer">Erie Outing Club</div>
  {% include footer.html %}



  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>
</html>
