<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
         
        </style>
        <script src="https://kit.fontawesome.com/81810279c2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/main.css">
        </head>
    <body>
        {% include navbar.html %}
        <p>test page</p>
  {% assign variable1 = site.time | date: "%m" %}
  <ul>
    {% for person in site.data.events %}
     {% if person.month == variable1 %}
     <li style="list-style: none; font-size: 20px;">
        <p>now = </p>{{  "now" | date: "%Y-%m-%d %H:%M"}}<br><br>
        <p> now month = </p>{{  "now" | date: "%m"}}
        <p>person.month =</p>{{ person.month}}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <p>site.time = </p>{{ site.time}}<br>
  <p> month site.time = </p>{{ site.time | date: "%m"}}<br>
  <p>now = </p>{{  "now" | date: "%Y-%m-%d %H:%M"}}
  <p> now month = </p>{{  "now" | date: "%m"}}
      
         {% include footer.html %}
      
      
      <script>
      let mainNav = document.getElementById('js-menu');
      let navBarToggle = document.getElementById('js-navbar-toggle');
      
      navBarToggle.addEventListener('click', function () {
          
          mainNav.classList.toggle('active');
      });
      </script>
      </body>
      </html>